# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env
.env

# Data artifacts
data/raw/*
data/processed/*
data/features/*
!data/raw/*.dvc
!data/processed/*.dvc
!data/features/*.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# Notebook-generated EDA artifacts
notebooks/eda_outputs/

# Notebook
.ipynb_checkpoints/

# Logs and artifacts
logs/
artifacts/
mlruns/
